<h1>Home Maintenance Reminders</h1>
<hr>
<div class="addNewJob">

    <h3>Add New Job</h3>

    <div class="messages">
      {{#each messages.error}}
        <p class= 'error_msg'>{{this}}</p>
      {{/each}}
    </div>

    <form action="/" method="POST">
      Type: <input name="type" type="text" required>
      <br>
      Company: <input name="company" type="text" required>
      <br>
      Contact Name: <input name="contact" type="text"required>
      <br>
      Phone: <input name="phone" type="number" min="10">
      <br>
      Date of Service: <input name="dateSet" type="datetime-local" required>
      <br>
      <input name="addJob" type="submit" value="Add new job">
      <br>
    </form>

</div>

<div class="reminderSet">
  <hr>
  <h3>All Appointments</h3>
  {{#each types}}
    <p>Type: {{this.type}}</p>
    <p>Company: {{this.company}}</p>
    <p>Contact Name: {{this.contact}}</p>
    <p>Phone: {{this.phone}}</p>
    <p>Date of Service: {{this.dateSet}}</p>
    <form action="delete" method="POST">
    <input type="hidden" name="_id" value="{{this._id}}">
    <input class="delete_button" type="submit" name="delete" value="Delete">
    <hr>
  {{else}}
  <p>No appointments set in database</p>
  {{/each}}
</form>
</div>
